body {
    background-color: #f9f7fe;
   text-align: center;
}

.container {
    background-color: #FEDFFF;
    height: 755px;
    width: 393px;
    border-radius: 15px;
    margin: 0 auto;
}


input.search {
    height: 30px;
    width: 232px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: #f9f7fe;
    
    border: none;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #ff1493 ;
    box-shadow: 3px 3px 10px rgb(190, 191, 192);

}

input.submit {
    height: 30px;
    width: 101px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #ff1493;
    color: #f9f7fe ;
    border: none;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgb(190, 191, 192);
    
}
img {
    margin-top: 15px;
    height: 180px;
    width: 190px;
}
 h2 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: #ff1493 ;
    margin-top: 0;
    margin-bottom: 0px;
    
  }


  p.date {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #ff1493 ;
  }
  p.condition {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #ff1493 ;
  }
  div.current-stats {
    background-color: #FCF0FF;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 10px rgb(190, 191, 192);
  }
 h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #ff1493 ;
  }
  h1.city{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin: 0 0;
  }
  
  p.current-time {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0 0;
  }
  p.humidity-wind {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0 0;
    color: #ff1493 ;
  }
  p {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0 0;
    color: #ff1493 ;
  }
  div.table-data {
    background-color: #FCF0FF;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 10px rgb(190, 191, 192);
    
  }
  td {
    padding-left: 15px;
    padding-right: 55px;
  }

  .table-data {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0;
    color: #ff1493 ;
   
  }

  .table-image {
    height: 40px;
    width: 35px;
  }

 footer {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 45px;
    color: #ff1493 ;
 }